= stylesheet_link_tag 'drinks_newEdit', media: 'all'
.drinksNewEdit
  = link_to drinks_path do
    ドリンク一覧へ戻る
  %h2.drinksNewEdit__title
    ドリンク新規登録
  = form_with model: drink, local: true, class: "drinksNewEdit__form" do |f|
    .drinksNewEdit__form__content
      %h3
        ドリンク名
      = f.text_field :name
    .drinksNewEdit__form__contents
      .drinksNewEdit__form__contents__priceCategory
        %h3
          単価
        = f.number_field :price,  {value: @drink_price, min: 10, max: 99999, style:"text-align: right"}
        00円
      .drinksNewEdit__form__contents__priceCategory
        %h3
          カテゴリー
        = f.select :category, Drink.categories.keys.to_a, prompt: "選択してください"
    .drinksNewEdit__form__content
      %h3
        メニューブック用ドリンク解説
      = f.text_area :discription
    .drinksNewEdit__form__content
      %h3
        その他メモ
      = f.text_area :memo
    .drinksNewEdit__form__submit
      = f.submit "登録"

    -# - if @drink.errors.any?
    -# %ul
    -#   - @drink.errors.full_messages.each do |m|
    -#     %li
    -#       = m