= stylesheet_link_tag 'drinks_index', media: 'all'
.drinksIndex
  %h2
    ドリンク一覧
  = link_to new_drink_path, class: "drinksIndex__new" do
    新規登録
  = link_to drinks_path(format: :csv), class: "drinksIndex__csv" do
    csv出力
  - @drinks.each do |d|
    = link_to drink_path(d.id), class: "drink" do
      .drink__content
        = d.name
      .drink__content
        = "#{d.price} 円"
      .drink__show
        詳細
      %object
        = link_to edit_drink_path(d.id), class: "drink__edit" do
          編集