= stylesheet_link_tag 'clients_index', media: 'all'
.clientsIndex
  %h2
    クライアント一覧
  - if current_member.grade != 1
    = link_to new_client_path, class: "clientsIndex__new" do
      新規登録
  = paginate @clients
  - @clients.each do |c|
    = link_to client_path(c.id), class: "client" do
      .client__content
        = c.name 
      -if @clients_dates[c.id].length > 0
        .client__content
          - @clients_dates[c.id].each do |r|
            - if r < Date.today
              = r.strftime("%Y年%m月%d日　")
            - else
              %span
                = r.strftime("%Y年%m月%d日　")
      .client__show
        詳細
  = paginate @clients