- if @reservation.errors.any?
  %ul
    - @reservation.errors.full_messages.each do |m|
      %li
        = m
= form_with model: @reservation, local: true do |f|
  %p お客様
  = f.select :client_id, Client.all.map{|c| [c.name, c.id]}, prompt: "クライアント"
  = f.text_field :guest
  %p 部屋
  = f.select :room_id, Room.all.map { |r| [r.name, r.id] }, prompt: "選択してください"
  %p 料理
  = f.select :kaiseki_id, Kaiseki.all.map { |k| [k.name, k.id] }, prompt: "選択してください"
  %p 人数
  = f.select :number_of_guest, [*1..12], prompt: "選択してください"
  %p 日時
  = f.date_select :date, {default: @date.to_date}
  = f.select :start_hour, [*11..21]
  = f.select :start_minute, ['00', 15, 30, 45]
  -# , default: 11
  %p メモ
  = f.text_area :memo
  = f.submit "登録"
= link_to reservations_path do
  キャンセル