= javascript_include_tag 'reservations.js'
= stylesheet_link_tag 'reservations', media: 'all'
-# ビューの配置の関係で同じform_withを3つ書いている。1つにして、position等で無理やり配置したほうがいいか検討中
.reservation
  .reservation__header
    .rsvControllers
      = form_with url: reservations_path, local: true, class: "rsvControllers__submitSet1", method: :get do |f|
        != sprintf(f.date_select(:date, use_month_numbers: true,default: @this_date,date_separator: '%s'), '年 ', '月 ') +'日'
        -# != sprintf(f.date_select :date, {default: @this_date}, {class: "selects"})
        -# = f.date_select :date, {default: @this_date}, {class: "selects"}
        = f.submit "検索", name: "ボタン", class: "submits", id: "submit1"
        = f.submit "今日", class: "submits", id: "submit2"
        = f.submit "明日", name: "ボタン", class: "submits", id: "submit3"
        = f.submit "明後日", name: "ボタン", class: "submits", id: "submit4"
        = f.submit "一週間後", name: "ボタン", class: "submits", id: "submit5"
      = form_with url: reservations_path, local: true, class: "rsvControllers__submitSet2", method: :get do |f|
        = f.hidden_field :this_date, value: @this_date
        = f.submit "前の日", name: "ボタン", class: "submits", id: "submit6"
      .rsvControllers__thisDate
        = "#{@date}の予約"
      = form_with url: reservations_path, local: true, class: "rsvControllers__submitSet3", method: :get do |f|
        = f.hidden_field :this_date, value: @this_date
        = f.submit "次の日", name: "ボタン", class: "submits", id: "submit7"
      .rsvControllers__newButton.submits#submit8
        新規予約
  .rsvTable
    .rsvTable__timeLine
      .rsvTable__timeLine__time
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          11:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          12:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          13:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          14:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          15:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          16:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          17:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          18:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          19:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          20:00
      .rsvTable__timeLine__time
        .rsvTable__timeLine__time__inner
          21:00
  - @reservations.each do |r|
    - if r.sale.present?
      - status = r.sale.status
    - else
      - status = nil
    .reservationOne{data: {id: r.id, room: r.room.name, hour: r.start_hour, minute: r.start_minute, status: status}}
      .reservationOne__clientGuest
        - if r.client.present?
          = r.client.name+" 様"
        - else
          = r.guest+" 様"
      .reservationOne__numberOfGuest
        = r.number_of_guest.to_s+" 名"
      .reservationOne__memo
        - if r.memo.present?
          = r.memo 
      .reservationOne__showButton{data: {id: r.id}}
        詳細
      - if @today
        - if !Sale.find_by(reservation_id: r.id)
          = link_to new_sale_path(r.id), class: "reservationOne__sale" do
            未会計
        - elsif Sale.find_by(reservation_id: r.id).status == 2
          = link_to sale_path(Sale.find_by(reservation_id: r.id)), class: "reservationOne__sale" do
            %span
              会計済
        - else
          = link_to edit_sale_path(Sale.find_by(reservation_id: r.id)), class: "reservationOne__sale" do
            会計中


      -# 以下3要素確認用あとで消す
      -# .tttttt
      -#   = r.room.name
      -# .uuuuuu
      -#   = r.start_hour
      -# .vvvvvv
      -#   = r.start_minute


  %h3
    削除一覧
  - @deleted_reservations.each do |d|
    = d
    .reservationOne__showButton{data: {id: d.id}}
      詳細

  .rsvNew.rsvNewEdit
    = form_with model: @reservation_new, local: true, html: {class: "rsvNewEdit__form rsvNew__form", id: "reservation_new_form"} do |f|
      .rsvNew__form__left.rsvNewEdit__form__left
        %h3 お客様
        = f.select :client_id, Client.all.map{|c| [c.name, c.id]}, prompt: "クライアント"
        = f.text_field :guest
        %h3 日時
        != sprintf(f.date_select(:date, use_month_numbers: true,default: @this_date,date_separator: '%s'), '年 ', '月 ') +'日'
        -# = f.date_select :date, {default: @this_date}
        = f.select :start_hour, [*11..19]
        ：
        = f.select :start_minute, ['00', 15, 30, 45]
        %h3 部屋
        = f.select :room_id, Room.all.map { |r| [r.name, r.id] }, prompt: "選択してください"
        %h3 料理
        = f.select :kaiseki_id, Kaiseki.all.map { |k| [k.name, k.id] }, prompt: "選択してください"
        %h3 人数
        = f.select :number_of_guest, [*1..12], prompt: "選択してください"
      .rsvNew__form__right.rsvNewEdit__form__right
        %h3 メモ
        = f.text_area :memo
        = f.submit "登録", class: "form_submit rsvNewEdit__form__right__submit"
      .rsvNew__errorMessages.rsvNewEdit__errorMessages
  -# .rsvNewEdit
  -#   = render partial: "form", locals: {reservation: @reservation_edit}
  .rsvShow
    .rsvShow__left
      %h3 お客様
      .rsvShow__client.rsvShow__content
      .rsvShow__guest.rsvShow__content
      %h3 日時
      .rsvShow__date.rsvShow__content
      -# .rsvShow__date_data.rsvShow__content
      .rsvShow__start_hour.rsvShow__content
      = ":"
      .rsvShow__start_minute.rsvShow__content
      %h3 部屋
      .rsvShow__room.rsvShow__content
      %h3 料理
      .rsvShow__kaiseki.rsvShow__content
      %h3 人数
      .rsvShow__number_of_guest.rsvShow__content
      = "人"
    .rsvShow__right
      %h3 メモ
      .rsvShow__memo.rsvShow__content
    .rsvShow__submits
      .rsvShow__edit.rsvShow__submits__submit
        編集
      .rsvShow__link.rsvShow__submits__submit
      

  .rsvEdit.rsvNewEdit
    = form_with model: @reservation_new, local: true, html: {class: "rsvNewEdit__form rsvEdit__form", id: "rsvEdit_form"} do |f|
      .rsvEdit__form__left.rsvNewEdit__form__left
        %h3 お客様
        = f.select :client_id, Client.all.map{|c| [c.name, c.id]},{}, id: "rsvEdit_client"
        = f.text_field :guest, id: "rsvEdit_guest"
        %h3 日時
        != sprintf(f.date_select(:date, use_month_numbers: true,default: @this_date,date_separator: '%s'), '年 ', '月 ') +'日'
        -# = f.date_select :date, {default: @this_date}, class: ""
        = f.select :start_hour, [*11..21],{}, id: "rsvEdit_hour"
        ：
        = f.select :start_minute, ['00', 15, 30, 45],{}, id: "rsvEdit_minute"
        %h3 部屋
        = f.select :room_id, Room.all.map { |r| [r.name, r.id] },{}, id: "rsvEdit_room"
        %h3 料理
        = f.select :kaiseki_id, Kaiseki.all.map { |k| [k.name, k.id] },{}, id: "rsvEdit_kaiseki"
        %h3 人数
        = f.select :number_of_guest, [*1..12],{}, id: "rsvEdit_number"
      .rsvEdit__form__right.rsvNewEdit__form__right
        %h3 メモ
        = f.text_area :memo, id: "rsvEdit_memo"
        = f.submit "登録", class: "form_submit rsvNewEdit__form__right__submit"
      .rsvEdit__errorMessages.rsvNewEdit__errorMessages


- @rooms.each do |r|
  .data--room{data: {name: r.name, id: r.id}}