-# ビューの配置の関係で同じform_withを3つ書いている。1つにして、position等で無理やり配置したほうがいいか検討中
= form_with url: reservations_path, local: true, method: :get do |f|
  = f.date_select :date, default: @this_date
  = f.submit "検索", name: "ボタン"
  = f.submit "今日"
  = f.submit "明日", name: "ボタン"
  = f.submit "明後日", name: "ボタン"
  = f.submit "一週間後", name: "ボタン"
= form_with url: reservations_path, local: true, method: :get do |f|
  = f.hidden_field :this_date, value: @this_date
  = f.submit "前の日", name: "ボタン"
.index__date
  = "#{@date}の予約"
= form_with url: reservations_path, local: true, method: :get do |f|
  = f.hidden_field :this_date, value: @this_date
  = f.submit "次の日", name: "ボタン"
= link_to new_reservation_path do
  新規予約
.rsvTable
  .rsvTable__timeLine
    .rsvTable__timeLine__time
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        11:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        12:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        13:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        14:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        15:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        16:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        17:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        18:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        19:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        20:00
    .rsvTable__timeLine__time
      .rsvTable__timeLine__time__inner
        21:00
  -# .rsvTable__tr
  -#   .rsvTable__roomName
  -#     春日
  -#   .rsvTable__table.rsvTable__table11.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 11}} 
  -#   .rsvTable__table.rsvTable__table12.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 12}} 
  -#   .rsvTable__table.rsvTable__table13.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 13}} 
  -#   .rsvTable__table.rsvTable__table14.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 14}} 
  -#   .rsvTable__table.rsvTable__table15.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 15}} 
  -#   .rsvTable__table.rsvTable__table16.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 16}}
  -#   .rsvTable__table.rsvTable__table17.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 17}} 
  -#   .rsvTable__table.rsvTable__table18.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 18}} 
  -#   .rsvTable__table.rsvTable__table19.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 19}} 
  -#   .rsvTable__table.rsvTable__table20.rsvTableDroppable{data: {roomname:"春日",roomid: 1, hour: 20}} 
  -#   .rsvTable__table.rsvTable__table21{data: {roomname:"春日",roomid: 1, hour: 21}} 
  -# .rsvTable__tr
  -#   .rsvTable__roomName
  -#     音羽
  -#   .rsvTable__table.rsvTable__table11.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 11}}
  -#   .rsvTable__table.rsvTable__table12.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 12}}
  -#   .rsvTable__table.rsvTable__table13.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 13}}
  -#   .rsvTable__table.rsvTable__table14.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 14}}
  -#   .rsvTable__table.rsvTable__table15.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 15}}
  -#   .rsvTable__table.rsvTable__table16.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 16}}
  -#   .rsvTable__table.rsvTable__table17.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 17}}
  -#   .rsvTable__table.rsvTable__table18.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 18}}
  -#   .rsvTable__table.rsvTable__table19.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 19}}
  -#   .rsvTable__table.rsvTable__table20.rsvTableDroppable{data: {roomname:"音羽",roomid: 2, hour: 20}}
  -#   .rsvTable__table.rsvTable__table21{data: {roomname:"音羽",roomid: 2, hour: 21}}
  -# .rsvTable__tr
  -#   .rsvTable__roomName
  -#     羽衣
  -#   .rsvTable__table.rsvTable__table11.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 11}}
  -#   .rsvTable__table.rsvTable__table12.rsvTableDroppable.aaaa{data: {roomname:"羽衣",roomid: 3, hour: 12}}
  -#   .rsvTable__table.rsvTable__table13.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 13}}
  -#   .rsvTable__table.rsvTable__table14.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 14}}
  -#   .rsvTable__table.rsvTable__table15.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 15}}
  -#   .rsvTable__table.rsvTable__table16.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 16}}
  -#   .rsvTable__table.rsvTable__table17.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 17}}
  -#   .rsvTable__table.rsvTable__table18.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 18}}
  -#   .rsvTable__table.rsvTable__table19.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 19}}
  -#   .rsvTable__table.rsvTable__table20.rsvTableDroppable{data: {roomname:"羽衣",roomid: 3, hour: 20}}
  -#   .rsvTable__table.rsvTable__table21{data: {roomname:"羽衣",roomid: 3, hour: 21}}
  -# .rsvTable__tr
  -#   .rsvTable__roomName
  -#     浮舟
  -#   .rsvTable__table.rsvTable__table11.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 11}}
  -#   .rsvTable__table.rsvTable__table12.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 12}}
  -#   .rsvTable__table.rsvTable__table13.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 13}}
  -#   .rsvTable__table.rsvTable__table14.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 14}}
  -#   .rsvTable__table.rsvTable__table15.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 15}}
  -#   .rsvTable__table.rsvTable__table16.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 16}}
  -#   .rsvTable__table.rsvTable__table17.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 17}}
  -#   .rsvTable__table.rsvTable__table18.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 18}}
  -#   .rsvTable__table.rsvTable__table19.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 19}}
  -#   .rsvTable__table.rsvTable__table20.rsvTableDroppable{data: {roomname:"浮舟",roomid: 4, hour: 20}}
  -#   .rsvTable__table.rsvTable__table21{data: {roomname:"浮舟",roomid: 4, hour: 21}}
  -# .rsvTable__tr
  -#   .rsvTable__roomName
  -#     折鶴
  -#   .rsvTable__table.rsvTable__table11.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 11}}
  -#   .rsvTable__table.rsvTable__table12.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 12}}
  -#   .rsvTable__table.rsvTable__table13.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 13}}
  -#   .rsvTable__table.rsvTable__table14.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 14}}
  -#   .rsvTable__table.rsvTable__table15.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 15}}
  -#   .rsvTable__table.rsvTable__table16.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 16}}
  -#   .rsvTable__table.rsvTable__table17.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 17}}
  -#   .rsvTable__table.rsvTable__table18.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 18}}
  -#   .rsvTable__table.rsvTable__table19.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 19}}
  -#   .rsvTable__table.rsvTable__table20.rsvTableDroppable{data: {roomname:"折鶴",roomid: 5, hour: 20}}
  -#   .rsvTable__table.rsvTable__table21{data: {roomname:"折鶴",roomid: 5, hour: 21}}
- @reservations.each do |r|
  .reservationOne{data: {id: r.id, room: r.room.name, hour: r.start_hour}}
    .reservationOne__clientGuest
      - if r.client.present?
        = r.client.name+" 様"
      - else
        = r.guest+" 様"
    .reservationOne__numberOfGuest
      = r.number_of_guest.to_s+" 名"
    .reservationOne__memo
      = r.memo if r.memo.present?
    = link_to reservation_path(r.id), class: "reservationOne__show" do
      詳細
    - if @today
      - if !Sale.find_by(reservation_id: r.id)
        = link_to new_sale_path(r.id), class: "reservationOne__sale" do
          会計(新)
      - else
        = link_to edit_sale_path(Sale.find_by(reservation_id: r.id)), class: "reservationOne__sale" do
          会計(既)
    -# 以下2要素確認用あとで消す
    .tttttt
      = r.room.name
    .uuuuuu
      = r.start_hour
%h3
  削除一覧
- @deleted_reservations.each do |d|
  = d
  = link_to reservation_path(d.id) do
    詳細




- @rooms.each do |r|
  .data--room{data: {name: r.name, id: r.id}}