= form_with url: reservations_path, local: true, method: :get do |f|
  = f.date_select :date, default: @this_date
  = f.submit "検索", name: "ボタン"
  = f.submit "今日"
  = f.submit "明後日", name: "ボタン"
  = f.submit "一週間後", name: "ボタン"
= form_with url: reservations_path, local: true, method: :get do |f|
  = f.hidden_field :this_date, value: @this_date
  = f.submit "前の日", name: "ボタン"
.index__date
  #{@date}の予約
= form_with url: reservations_path, local: true, method: :get do |f|
  = f.hidden_field :this_date, value: @this_date
  = f.submit "次の日", name: "ボタン"
- @reservations.each do |r|
  = link_to reservation_path(r.id) do
    = r.memo
%table.reservationTable
  %tr.reservationTable__timeLine
    %th.reservationTable__timeLine__time
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        11:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        12:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        13:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        14:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        15:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        16:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        17:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        18:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        19:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        20:00
    %th.reservationTable__timeLine__time
      .reservationTable__timeLine__time__inner
        21:00
  %tr
    %td.reservationTable__roomName
      春日
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
  %tr
    %td.reservationTable__roomName
      音羽
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
  %tr
    %td.reservationTable__roomName
      羽衣
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
  %tr
    %td.reservationTable__roomName
      浮舟
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
  %tr
    %td.reservationTable__roomName
      折鶴
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"
    %td.reservationTable__table
      = link_to "","/", class: "reservationTable__table__link"