= link_to reservations_path do
  一覧に戻る
- if @reservation.client_id
  = link_to client_path(@reservation.client_id) do
    = @reservation.client.name+" 様"
- else
  = @reservation.guest+" 様"
-# = @reservation.member.name
= @reservation.room.name
= @reservation.kaiseki.name
= @reservation.number_of_guest
= @reservation.date
= @reservation.start_hour
= @reservation.memo
= link_to edit_reservation_path(@reservation.id) do
  編集
- if @reservation.date >= Date.today
  - if @reservation.status != 0
    = link_to custumDelete_reservation_path(@reservation.id), method: :put do
      削除
  - elsif @reservation.status == 0
    = link_to revival_reservation_path(@reservation.id), method: :put do
      復活