- @reservation.client_id ? @reservation.client : @reservation.guest
= @reservation.member.name
= @reservation.room.name
= @reservation.kaiseki.name
= @reservation.number_of_guest
= @reservation.date
= @reservation.start_time.strftime('%H:%M')
= @reservation.memo