.saleNewEdit
  .saleNewEdit__result
    .saleNewEdit__result__content
      - if @reservation.client.present?
        = @reservation.client.name+" 様の会計"
      - else
        = @reservation.guest+" 様の会計"
    .saleNewEdit__result__content
      .saleNewEdit__result__content__name
        商品
      .saleNewEdit__result__content__price
        単価
      .saleNewEdit__result__content__number
        個数
    .saleNewEdit__result__content
      .saleNewEdit__result__content__name
        = @reservation.room.name
      .saleNewEdit__result__content__price.roomPrice
        = @reservation.room.price
      .saleNewEdit__result__content__number
    .saleNewEdit__result__content
      .saleNewEdit__result__content__name
        = @reservation.kaiseki.name
      .saleNewEdit__result__content__price.kaisekiPrice
        = @reservation.kaiseki.price
      .saleNewEdit__result__content__number.kaisekiNumber
        = @reservation.number_of_guest
    .saleNewEdit__result__content
      = form_with model: [@sale], local: true do |f|
        = f.hidden_field :reservation_id, value: @reservation.id
        .saleNewEdit__result__content__drinks
        .saleNewEdit__result__content__subTotal
          .saleNewEdit__result__content__subTotal__title
            小計
          .saleNewEdit__result__content__subTotal__price
            = @reservation.room.price + (@reservation.kaiseki.price * @reservation.number_of_guest)
        .saleNewEdit__result__content__tax
          .saleNewEdit__result__content__tax__title
            消費税
          .saleNewEdit__result__content__tax__price
            = (@reservation.room.price + (@reservation.kaiseki.price * @reservation.number_of_guest))/10
        .saleNewEdit__result__content__total
          .saleNewEdit__result__content__total__title
            合計
          .saleNewEdit__result__content__total__price
            = @reservation.room.price + (@reservation.kaiseki.price * @reservation.number_of_guest)*11/10
        - if !show
          = f.select :mean, Sale.means.keys.to_a, prompt: "会計方法", id: "sale_mean"
          = f.number_field :from,  {min: @reservation.room.price + (@reservation.kaiseki.price * @reservation.number_of_guest)*11/10, max: 999999,id: "sale_cash"}
          .saleChange
          .saleNewEdit__result__content__change
            .saleNewEdit__result__content__change__title
              お釣り
            .saleNewEdit__result__content__change__price
              0
          - if !show
            = link_to reservations_path, class: "sale_save saleNewEdit__result__content__submit submits" do
              -# 本当は確認を入れたいがなぜか二回入ってしまうので中止
              -# , data: {confirm: "保存されていません。\n戻ってよろしいですか？"} do
              キャンセル
          = f.submit "保存", name: "ボタン", class: "sale_save saleNewEdit__result__content__submit submits"
          = f.submit "会計", name: "ボタン", class: "sale_save saleNewEdit__result__content__submit submits", id: "sale_finish"
          %div
          - if edit
            = link_to sale_path(@sale.id), method: :delete, class: "sale_save saleNewEdit__result__content__submit submits", data: {confirm: "削除してもよろしいですか？"} do
              会計削除
      -if show
        = link_to reservations_path, class: "sale_save saleNewEdit__result__content__submit submits" do
          戻る
        = link_to sale_path(@sale.id), method: :delete, class: "sale_save saleNewEdit__result__content__submit submits", data: {confirm: "削除してもよろしいですか？"} do
          会計削除
  - if !show
    .saleNewEdit__drinkButtons
      .saleNewEdit__drinkButtons__categorys
        - Drink.categories.keys.to_a.each do |c|
          .saleNewEdit__drinkButtons__categorys__category.submits{data: {category: c}}
            = c
      - @drinks.each_with_index do |d, i|
        %div{class: "sales__drink saleNewEdit__drinkButtons__drink", id: "sales__drink#{i}", data: {name: d.name, id: d.id, price: d.price, category: d.category}}
          .saleNewEdit__drinkButtons__drink__name.submits
            = d.name
            .saleNewEdit__drinkButtons__drink__name__mask